token: {{ rke2_server_token }}
{% if rke2_server_ip is defined %}
server: https://{{ rke2_server_ip }}:9345
{% endif %}
{% if rke2_tls_san | length > 0 %}
tls-san:
{% for san in rke2_tls_san %}
  - {{ san }}
{% endfor %}
{% endif %}
